<div class="container">
  <div class="row mt-4 mb-2">
    <div class="col-sm-8">
      <h1>Subreddit Search</h1>
    </div>
    <div class="col-sm-4 text-right">
      <form onsubmit={{action "searchForSubreddits" keywords}}>
        {{input type="text" value=keywords placeholder="What are you looking for?"}}
        {{!-- <button onclick={{action "searchForSubreddits"}}>Search</button> --}}
          <button type="submit">Search</button>
      </form>
    </div>
  </div>
  {{outlet}}
</div>
