<div class="row">
  <div class="col-sm-12">
    <p>{{model.length}} threads:</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <ul class="list-group">
      {{#each sortedPosts as |post|}}
        {{reddit-post post=post}}
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-9">
  </div>
</div>
